*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #111;
	font: 300 12px/1 "Open Sans", sans-serif;
	position: relative;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
input, textarea, button{
	outline: none;
	border: none;
}
textarea{
	resize: vertical;
}
button{
	cursor: pointer;
}
/* DEFAULT CLASSES START */
.border-top{
	border-top: 1px solid rgba(236, 236, 236, 0.8);
}
.gray-bg {
	background-color: #f8f8f8;
}
.ofw-hiden{
	overflow: hidden;
}
/* DEFAULT CLASSES END */
/* DEFAULT COMPONENT STYLE START */
.btn{
	letter-spacing: 0.2em;
	padding: 10px 40px;
	border: none;
	text-transform: uppercase;
	border-radius: 2px;
}
.btn:active:focus,
.btn:focus{
	outline: none;
}
.btn.btn-default{
	background: rgba(255, 255, 255, 0.8);
}
.btn.btn-default:hover{
	background: rgba(255, 255, 255, 0.9);
}
.btn-small{
	padding: 8px 14px;
	background: rgba(229, 229, 229, 0.9);
	letter-spacing: 0.2em;
	font-size: 11px;
}
.btn-small:hover{
	background: rgba(119, 119, 119, 1);
	color: #ffffff;
	text-decoration: none;
}
.btn-dark{
	background-color: #323232;
	color: #ffffff;
}
.btn-dark:hover{
	background-color: #525252;
	color: #ffffff;
}
.form-group{
	margin-bottom: 10px;
}
.form-control{
	height: 40px;
	border-color: #dfdfdf;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #777;
	box-shadow: none;
}
.form-control:focus{
	border-color: #bfbebe;
	box-shadow: none;
}
.small-section{
	padding: 70px 0;
}
.default-section{
	padding: 140px 0;
}
.title{
	font-family: "Dosis", sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	margin-bottom: 75px;
}
.title.color-white{
	color: #fff;
}
.title.text-light{
	font-weight: 300;
	letter-spacing: 0.3em;
}
blockquote{
	padding: 0;
	margin: 0;
	border: none;
	font-size: 24px;
	color: #777;
	line-height: 1.6;
}
blockquote span{
	font-size: 11px;
	font-weight: 400;
}
.text-section{
	font-size: 15px;
	line-height: 1.73;
}
.after-text{
	font-family: "FontAwesome", sans-serif;
	font-size: 11px;
	line-height: 1.6em;
	color: #aaaaaa;
}
textarea.form-control{
	min-height: 90px;
	margin-bottom: 10px;
}
.navbar-toggle{
	margin: 0;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
}
@media (max-width: 480px){
	.btn{
		letter-spacing: 0.2em;
		padding: 8px 30px;
		font-size: 12px;
	}
	blockquote{
		font-size: 20px;
	}
	.title{
		font-size: 16px;
		margin-bottom: 45px;
	}
	.text-section{
		font-size: 12px;
		line-height: 1.73;
	}
}
@media (max-width: 768px) {
	.default-section{
		padding: 70px 0;
	}
}
@media (max-width: 991px) {
	.btn-small{
		padding: 6px 10px;
		background: rgba(229, 229, 229, 0.9);
		letter-spacing: 0.1em;
	}
}
/* DEFAULT COMPONENT STYLE END */
/* HEADER STYLE START*/
.header{
	padding: 30px 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.logo{
	float: left;
}
.header-nav{
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	float: right;
}
.header-nav li{
	display: inline-block;
	line-height: 21px;
}
.header-nav li + li{
	margin-left: 30px;
}
@media(max-width: 768px){
	.header-nav{
		position: absolute;
		top:100%;
		left: 0;
		right: 0;
		z-index: 999;
		background: rgb(0, 0, 0);
		padding: 20px 0;
	}
	.header-nav li{
		display: block;
		text-align: right;
		padding: 10px 15px;
	}
	.container-fluid>.navbar-collapse{
		margin: 0;
	}
}
/* HEADER STYLE END*/
/* MAIN STYLE START*/
/* inner start */
.inner-buttons{
	position: absolute;
	left: 50%;
	bottom: 5%;
	display: inline-block;
	height: 26px;
	width: 26px;
	background-color: #fff;
	border-radius: 2px;
	transform: translateX(-50%) rotate(45deg);
	z-index: 97;
}
.inner-buttons i.fa{
	position: absolute;
	top: 50%;
	transform: rotate(-45deg);
}
.inner{
	background: url("../img/inner-bg.jpg") no-repeat center / cover;
	height: 100vh;
	text-align: center;
	padding-top: 81px;
	overflow: hidden;
	position: relative;
}
.inner-content{
	color: #fefefe;
	display: inline-block;
	vertical-align: middle;
}
.inner::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.inner-content h6{
	font-family: "Dosis", sans-serif;
	font-weight: 300;
	color: #eee;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	margin-bottom: 100px;
}
.inner-content span{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 19px;
	color: #5f5f5f;
}

@media (max-width: 1199px){
	.inner{
		height: auto;
		padding-top: 200px;
		padding-bottom: 200px;
	}
}
@media (max-width: 991px){
	.inner-content h6{
		font-size: 22px;
		margin-bottom: 50px;
		letter-spacing: 0.7em;
		text-indent: 0.7em;
	}
	.inner-content span{
		font-size: 16px;
	}
}
@media(max-width: 480px){
	.inner-content h6 {
		margin-bottom: 25px;
		font-size: 20px;
		letter-spacing: 0.5em;
		text-indent: 0.5em;
	}
	.inner-content span {
		font-size: 12px;
	}
}
/* inner end*/
/* about-studio start */
.our-team{
	margin-top: 100px;
}
.team-item-info{
	padding: 25px 5px 0;
	font-family: "Dosis", sans-serif;
	color: #777;
	font-weight: 400;
	letter-spacing: .4em;
	text-transform: uppercase;
}
.team-item-img{
	position: relative;
}
.team-item-info span{
	display: block;
}
.team-item-info span.team-item-name{
	font-size: 15px;
	margin-bottom: 15px;
}
.team-item-info span.team-item-role{
	font-size: 12px;
}
.team-item-skills{
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	transition: all .3s linear;
}
.team-item-img:hover .team-item-skills{
	opacity: 1;
}

@media  (max-width: 768px) {
	.our-team{
		margin-top: 50px;
	}
	.team-item-img{
		text-align: center;
	}
	.team-item-info span.team-item-role{
		padding-bottom: 20px;
	}
	.text-section p{
		padding-top: 10px;
	}
}

@media (max-width: 480px) {
	.about-studio .title{
		text-align: center;
		margin-bottom: 45px;
	}
	.about-studio .text-section{
		font-size: 12px;
	}

}
/* about-studio end */
/* our-creative-works start */
.our-creative-works{
	background: url("../img/our-creative-works-bg.jpg") no-repeat center / cover;
}
.our-creative-works .title{
	font-family: "Dosis", sans-serif;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: .3em;
	text-transform: uppercase;
	margin-bottom: 25px;
}
/* our-creative-works end */
/* why-choose-us start */
.choose-us-block{
	margin-bottom: 80px;
}
.why-choose-us .title{
	text-align: center;
}
.icon{
	text-align: center;
}
.icon-default{
	font-size: 48px;
	color: #111111;
}
.why-choose-us-text {
	margin-top: 30px;
}
.why-choose-us-text h6{
	font-family: "Dosis", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: .4em;
	color: #111111;
	text-transform: uppercase;
	text-align: center;

}
.why-choose-us-text p{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #838383;
	padding-top: 35px;
	line-height: 26px;
}
@media (max-width: 768px){
	.choose-us-block{
		margin-bottom: 40px;
	}
	.text-section{
		padding: 0 10px;
	}
}
/* why-choose-us end*/
/* cervices start */
.nav-tabs{
	border: none;
}
.nav-tabs li{
	width: 20%;
	text-align: center;
	border: none;
}
.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
	padding: 0;
	margin: 0;
	border: none;
	opacity: 0.4;
	background-color: transparent;
	color: #111;
}
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:focus{
	opacity: 1;
}
.nav-tabs li .tablist-title{
	display: block;
	font-family: "Dosis", sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.4em;
	color: #111111;
	font-variant: small-caps;
	text-transform: uppercase;
	margin-top: 35px;
}
.nav-tabs li .icon{
	font-size: 48px;
}
.tab-content .tab-pane{
	padding-top: 70px;
}
@media (max-width: 991px) {
	.nav-tabs li .tablist-title{
		letter-spacing: 0.1em;
		margin-top: 22px;
	}
	.tab-content .tab-pane{
		padding-top: 50px;
	}
	.nav-tabs li .icon {
		font-size: 38px;
	}
}
@media (max-width: 480px){
	.nav-tabs li {
    width: 33.3333%;
    margin-bottom: 20px;
	}
}
/* cervices end */
/* lets-talk start */
.lets-talk{
	background: url("../img/lets-talk-bg.jpg") no-repeat center / cover;
}
.lets-talk-content{
	font-family: "Dosis", sans-serif;
	font-weight: 300;
	margin: 140px 0;
}
.lets-talk-content .title{
	margin-bottom: 22px;
}
.lets-talk-content p{
	color: rgba(255, 255, 255, 0.70);
	font-size: 15px;
	line-height: 1.73;
	margin-bottom: 40px;
}
.lets-talk-img{
	margin-top: -32px;
}
@media (max-width: 480px){
	.lets-talk-content .title{
		line-height: 1.5em;
	}
}
/* lets-talk end */
/* portfolio start */
.portfolio{
	text-align: center;
}
.portfolio .title{
	padding-top: 140px;
	margin-bottom: 0;
}
.portfolio-text{
	max-width: 766px;
	margin: 80px auto;
	color: #777777;
}
.portfolio-tabs .nav-tabs {
	border: none;
	max-width: 650px;
	margin: 80px auto 0;
}
.portfolio-nav li{
	width: 25%;
}
.portfolio-container .row{
	margin-right: 0;
	margin-left: 0;
}
.portfolio-col{
	float: left;
	width:33.3%;
	padding: 3px;
}
.portfolio-img img{
	width: 100%;
}
@media  (max-width: 991px) {
	.portfolio-text {
		max-width: 721px;
		padding: 0 15px;
	}
}
@media (max-width: 480px) {
	.portfolio-tabs .nav-tabs{
		margin: 40px auto 0;
	}
	.portfolio-nav li {
		width: 50%;
	}

}
/* portfolio end */
/* reviews start*/
.reviews{
	overflow: hidden;
	background-color: #000;
}
.reviews .carousel-caption{
	position: static;
}
.reviews .carousel-caption .title{
	margin-bottom: 40px;
}
.reviews .carousel-caption p{
	font-size: 18px;
	line-height: 1.66;
	max-width: 750px;
	margin: 0 auto 20px auto;
	color: rgba(255, 255, 255, 0.75);
}
.reviews .carousel-caption > span{
	font-size: 11px;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.icon-wrap{
	text-align: center;
	margin-bottom: 20px;
}
.icon-wrap span{
	font-size: 32px;
}

@media (max-width: 480px) {
	.reviews .carousel-caption p{
		max-width: 300px;
 	}
}
@media (max-width: 768px) {
	.carousel .carousel-indicators {
		bottom: -20%;
	}

	.reviews .carousel-caption p {
		font-size: 14px;
		line-height: 2.14;
		max-width: 450px;
		margin: 0 auto 20px auto;
	}
}
.carousel-indicators{
	bottom: -45%;
}
.carousel-indicators li{
	width: 9px;
	height: 9px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 2px solid transparent;
}
.carousel-indicators .active{
	background-color: transparent;
	border-color: rgba(255, 255, 255, 0.8);
}
.carousel-control{
	background: none;
	opacity: 0;
	width: 85px;
	transition: opacity 0.1s linear, transform 0.2s linear;
	transform: translateX(-10px);
}
.carousel-control.right{
	transform: translateX(10px);
}
.carousel-control::before{
	content: '';
	display: block;
	position: absolute;
	width: 85px;
	height: 85px;
	background-color: #fff;
	top: 50%;
	left: -50%;
	transform: translateY(-50%) rotate(45deg);
}
.carousel-control.right::before{
	left: auto;
	right: -50%;
}
.reviews:hover .carousel-control{
	opacity: 1;
	transform: translateX(0);
}
.carousel-control i.fa{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #222;
	left: 20px;
}
.carousel-control.right i.fa{
	left: auto;
	right: 20px;
}

@media (max-width: 480px) {
	.reviews .carousel-caption .title {
		margin-bottom: 30px;
	}
	.icon-wrap span {
		font-size: 28px;
	}
	.reviews .carousel-caption p {
		display: inline-block;
		font-size: 12px;
		margin: 20px;
	}

	.carousel-control::before{
		width: 72px;
		height: 72px;
	}
}
/* reviews end */
/* latest news start */


.title-content{
	font-family: "Dosis", sans-serif;
	font-weight: 400;
}
.title-content .title h6{
	float: left;
	font-size: 18px;
}
.title-content a{
	float: right;
	font-size: 11px;
	letter-spacing: 0.4em;
	color: #999999;
	font-variant: small-caps;
	text-transform: uppercase;
	line-height: 22px;
	display: inline-block;
}
.news-item-info{
	font-family: "Dosis", sans-serif;
	font-weight: 400;
	margin: 30px 0;
}
.news-item-info span{
	display: block;
}
.news-item-name{
	font-size: 15px;
	letter-spacing: 0.2em;
	color: #777777;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.news-item-date{
	font-size: 11px;
	letter-spacing: 0.2em;
	color: #999999;
	margin-bottom: 30px;
}
.news-item{
	font-size: 15px;
	line-height: 1.73;
	color: #777777;
}
.news-item-info p{
	padding-bottom: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}
@media (max-width: 991px) {
	.news-item {
		font-size: 12px;
		line-height: 1.73;
	}
	.news-item-name{
		font-size: 14px;
		letter-spacing: 0.1em;
	}
	.news-item-date{
		letter-spacing: 0.1em;
	}
}
@media (max-width: 768px){
	.news-item{
		text-align: center;
	}
	.news-item-info{
		max-width: 370px;
		margin: 30px auto;
	}
}
@media (max-width: 480px) {
	.latest-news-info{
		text-align: center;
		margin-bottom: 40px;
	}
	.title-content .title h6 {
		float: none;
		padding-bottom: 30px;
	}
	.title-content a{
		float: none;

	}
	.latest-news .news-item-info{
		padding: 0 35px;
	}
	.latest-news .news-img{
		text-align: center;
	}
}
/* latest news end*/
/* subscribe start */
.subscribe .title{
	margin-bottom: 15px;
}
.subscribe input[name="userEmail"]{
	width: 293px;
}
.subscribe .form-group{
	margin-right: 3px;
}
.subscribe .after-text i{
	margin-top: 20px;
}
@media (max-width: 768px) {
	.small-section-wrap {
		text-align: center;
	}
	.form-control{
		margin: 0 auto;
	}
}
/* subscribe end */
/* contact-us start */
.contact-us form{
	margin: 0 -5px;
}
.form-col{
	width: 50%;
	padding: 0 5px;
	float: left;
}
.form-submit{
	clear: both;
}
.contact-us-item{
	margin-bottom: 80px;
	overflow: hidden;
	padding: 6px 0 0 6px;
}
.contact-us-icon{
	width:25px;
	height:25px;
	background-color: #000000;
	float: left;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 25px;
	transform: rotate(45deg);
	border-radius: 2px;
	margin-right: 15px;
}
.contact-us-icon i{
	transform: rotate(-45deg);
}
.contact-us-item-text {
	font-family: "Dosis", sans-serif;
	font-weight: 300;
	float: left;
}
.contact-us-item-text h6{
	font-size: 12px;
	letter-spacing: 0.3em;
	font-variant: small-caps;
	text-transform: uppercase;
	color: #777777;
	margin-bottom: 10px;
}
.contact-us-item-text p{
	font-size: 15px;
	line-height: 1.6;
	color: #444444;
}
@media (max-width: 768px){
	.contact-us-item{
		margin-bottom: 40px;
	}
	.form-col{
		width: 100%;
	}
}
/* contact-us end */
/* map start */
.map{
	position: relative;
	overflow: hidden;
}
.map iframe {
	width: 100%;
	height: 410px;
}
.map:hover .on-map-block{
	transform: translateY(100%);
	opacity: 0;
}
.on-map-block{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	transition: all 0.3s linear;
	text-align: center;
}
.on-map-block-content{
	display: inline-block;
	text-align: center;
}
.on-map-block::before{
	content: '';
	height: 100%;
	display: inline-block;
	margin-left: -4px;
	vertical-align: middle;
}
.on-map-block-content li{
	line-height: 50px;
}
.on-map-block-icon{
	display: inline-block;
	font-size: 14px;
	height: 26px;
	width: 26px;
	line-height: 24px;
	background-color: #fff;
	transform: rotate(45deg);
	border-radius: 3px;
}
.on-map-block-icon i.fa{
	transform: rotate(-45deg);
}
.on-map-block-text{
	font: 400 16px/1 "Dosis", sans-serif ;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	font-variant: small-caps;
	color: rgba(255, 255, 255, 0.75);
}
.on-map-block-text i.fa{
	font-size: 12px;
}
/* map end */
/* MAIN STYLE END*/
/* FOOTER STYLE START */
.triangle-up{
	float: right;
	margin-right: 30px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #c6c6c6;
	border-radius: 5px;
}
.footer-inner{
	text-align: center;
	height: 430px;
	background-color: #f8f8f8;
}
.footer-logo{
	display: block;
	padding-top: 140px;
	padding-bottom: 20px;
}
.footer-social{
	overflow: hidden;
	display: inline-block;
	padding: 20px 10px;
}
.footer-social span{
	display: inline-block;
	height: 26px;
	width: 26px;
	border: 2px solid #777777;
	transform: rotate(45deg);
	border-radius: 3px;
}
.footer-social li{
	float: left;
}
.footer-social li + li{
	margin-left: 23px;
}
.footer-social a{
	display: block;
}
.footer-social i.fa{
	line-height: 22px;
	transform: rotate(-45deg);
}
.footer-content{
	margin-top: 80px;
}
.footer-content span{
	display: block;
	padding-top: 20px;
	font-family: "Dosis", sans-serif;
	font-weight: 400;
}
.footer-title{
	font-size: 12px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #111111;
}
.footer-text {
	font-size: 11px;
	color: #999999;
}

/* FOOTER STYLE END */